.app {
  display: flex;
}

.left-sidebar {
  width: 300px;
  height: 100vh; /* Set height to 100% of viewport height */
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  border-right: 2px solid #ccc; /* Add right border */
  border-bottom: 2px solid #ccc; /* Add bottom border */
  border-radius: 10px; /* Add border radius */
}

.main-content {
  flex: 1; /* Take up remaining space */
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust width as needed */
  height: 100%; /* Adjust height as needed */
  z-index: 0; /* Lower z-index to ensure it's below search bar */
}

.user-profile {
  border-bottom: 2px solid #ccc; /* 添加用户头像区域的底部边框 */
  padding-bottom: 20px; /* 添加底部边距 */
}

.user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-profile p {
  font-size: 18px;
  font-weight: bold;
}

.address-block {
  margin-top: 20px;
}

.address-block h2 {
  font-size: 24px;
}

.address-block ul {
  list-style: none;
  padding: 0;
}

.address-block li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; /* 添加地址项之间的底部边框 */
  padding-bottom: 10px; /* 添加底部边距 */
}

.selected-address-details {
  margin-top: 20px;
  border-top: 2px solid #ccc; /* 添加顶部边框 */
  padding-top: 20px; /* 添加顶部边距 */
}

.selected-address-details h2 {
  font-size: 24px;
}

.selected-address-details p {
  font-size: 18px;
}

.home {
  display: flex;
  position: relative; /* Ensure relative positioning for absolute children */
}

.content-container {
  display: flex;
  flex: 1;
}

.search-bar {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 1;
  width: 250px;
  transform: scale(1.3);
}
  