/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the background image covers the entire viewport */
body {
  /* background: url(./background.webp) no-repeat center center fixed; */
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* Center the content vertically and horizontally */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style for the login and register forms */
.form {
  flex: 2;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  text-align: center;
}

/* Style for input fields and button */
input[type="text"],
input[type="password"],
input[type="email"],
button {
  font-family: 'Titillium Web', sans-serif;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  margin: 10px 0;
  border: 0.5px solid #c1c1c1;
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* Include padding and border in width */
}

/* Add focus style for input fields to prevent changing border width */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 0.5px solid #0070f3; /* Use a consistent border width and color on focus */
  outline: none; /* Remove default focus outline */
}

h2[type="title"] {
  line-height: 100px;
  font-size: 30px;
  font-weight: 900;
}

/* Additional styles for the register form */
.form.register {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.form.register input[type="text"],
.form.register input[type="password"],
.form.register input[type="email"],
.form.register button {
  font-family: 'Titillium Web', sans-serif;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* Include padding and border in width */
}

/* Pin form styling */
.form-group {
  margin-bottom: 15px; /* Add margin between form groups */
}

label {
  display: block; /* Display labels as block elements to place them above inputs */
  margin-bottom: 5px; /* Add margin below labels for spacing */
}

/* Adjust label position for media input */
.media-label {
  display: inline-block; /* Display label as inline-block element */
  margin-right: 10px; /* Add margin to separate label from input */
}


/* Add to your styles.css */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure this is appropriately set to be above other content */
}

.form-modal {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001; /* Above the backdrop */
}

.close-button {
  font-size: 14px; /* Adjust as necessary */
  color: #000000; /* Text color */
  background-color: rgb(255, 255, 255); /* Background color, e.g., Bootstrap primary button color */
  border: 1px solid #000000; /* Border color */
  padding: 1px 8px; /* Padding */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Mouse cursor on hover */
  position: absolute;
  top: -3px;
  right: 9px;
  width: 30px;
  z-index: 10; /* Ensure it's above other modal content */
}

.close-button:hover {
  color: #ed1111; /* Change color on hover if desired */
}


/* styles.css */
.form {
  background-color: #ffffff; /* White background */
  padding: 20px;
}

.form-group {
  margin-bottom: 16px;
}

label {
  display: block;
  font-weight: bold;
  color: #333333; /* Dark text color */
  margin-bottom: 8px;
}

textarea,
input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc; /* Light gray border */
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

button[type="submit"] {
  background-color: #0070f3; /* Anthropic blue color */
  color: #ffffff; /* White text color */
  border: none;
  padding: 10px 16px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 900;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0054b3; /* Darker blue on hover */
}

/* Ensure input and textarea have consistent border width on focus */
input[type="text"]:focus,
textarea:focus {
  border: 1px solid #0070f3; /* Consistent border color for focused state */
  outline: none; /* Remove default focus outline */
}

.music-search-results {
  max-height: 200px; 
  overflow-y: auto; 
  border: 1px solid #cccccc; 
  margin-top: 10px; 
  padding: 5px; 
  border-radius: 4px; 
  cursor: pointer;
}

.music-search-results {
  max-height: 100px;
  overflow-y: auto;
  max-width: 390px; 
  box-sizing: border-box;
}

.music-search-results:hover {
  /* Additional styles for hover state */
  background-color: #f0f0f0; /* Change background color on hover */
}

.media-label {
  display: inline-block;
  margin-bottom: 8px;
}

.login-page {
  display: flex;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.142);
  border: 0.5px solid #cbabab;
  border-radius: 25px;
  padding: 10px;
}

.login-page .logo {
  height: 80px;
  margin: 0 auto;
  margin-bottom: -30px;
}
.background-image {
  background-image: url(./background.jpg);
  background-repeat: repeat;
  background-size: cover; 
  width: 100%;
  height: 100vh; 
}