.app {
  display: flex;
  
}

button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



.left-sidebar {
  width: 300px;
  height: 100vh; 
  background-color: #b0d2e8;  
  color: #333;  
  padding: 20px;
  box-sizing: border-box;
  border-right: 2px solid #ffffff; 
  border-bottom: 2px solid #ffffff; 
  font-family: 'Quicksand', sans-serif;
}

.recent-pin {
  display: flex;
  align-items: center; 
  padding: 10px;
  background-color: #faf3f3; 
  border-bottom: 1px solid #3a3a3a; 
  height: auto;
  width: auto;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0.15, 0.15, 0.15, 0.15);
  transition: opacity 0.3s ease-in-out; 
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

.recent-pin:hover {
  opacity: 0.95; 
}

.first-pin {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.recent-pin:last-child {
  border-bottom: none; 
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
}

.recent-pins-header {
  font-size: 1.5em; 
  color: #203a4c; 
  font-weight: bold; 
  border-bottom: 4px solid #203a4c; 
  padding-left: 10px; 
  margin-top: 10px; 
  margin-bottom: 12px; 
  border-left: 4px solid #203a4c; 


}

.recent-pin .pin-icon {
  width: 30px; 
  height: 30px;
  background-image: url('Pin.png'); 
  background-size: cover; 
  margin-right: 8px; 
}

.recent-pin .pin-name {
  margin: 0;
  margin-bottom: 4px; 
  font-weight: bold;
}

.recent-pin .location-info {
  
  flex: 1;
  margin: 0;
}

.main-content {
  flex: 1; 
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 0; 
}

.user-profile {
  border-bottom: 2px solid #203a4c; 
  padding-bottom: 20px; 
}

.user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-profile p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.address-block {
  margin-top: 20px;
}

.address-block h2 {
  font-size: 24px;
}

.address-block ul {
  list-style: none;
  padding: 0;
}

.address-block li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; 
  padding-bottom: 10px; 
}

.selected-address-details {
  margin-top: 20px;
  border-top: 2px solid #ccc; 
  padding-top: 20px; 
}

.selected-address-details h2 {
  font-size: 24px;
}

.selected-address-details p {
  font-size: 18px;
}

.home {
  display: flex;
  position: relative; 
}

.content-container {
  display: flex;
  flex: 1;
}

.search-bar {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 1;
  width: 250px;
  transform: scale(1.3);
}


.search-container {
  position: relative;
  border-radius: 5px;
}

.search-input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}



.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  z-index: 1000;
  max-height: 300px; 
  overflow-y: hidden; 
  overflow-x: hidden;
  border-radius: 20px;
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #8cd2ed;
  cursor: pointer;
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-result-item:hover {
  background-color: #f5f5f5;
}

.viewingMessage {
  position: absolute;
  top: 30px;
  right: 1120px;
  z-index: 1;
  width: auto;
  transform: scale(1.3);
  padding: 5px 10px;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460; 
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'quicksand', sans-serif;

}

.drawing1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.pin-name-label {
  font-family: 'Quicksand', sans-serif; 
  font-size: 22px; 
  font-weight: bold;
}

.drawing1 textarea {
  height: calc(30vh - 150px); 
  resize: none;
}


.drawing1 .form-group input,
.drawing1 .form-group textarea {
  border: none; 
  outline: none;
  background-color: #eaedf0; 
  color: inherit; 
  font-size: inherit;
  width: 100%; 
  max-width: 100%;  
}

.drawing1 .form-group input[readonly],
.drawing1 .form-group textarea[readonly] {
  pointer-events: none;  
}


 
body {
   background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.form-group label {
  font-family: 'Quicksand', sans-serif;
  color: #203a4c;  
}


input[type="text"],
textarea {
  border: none;
  background-color: #c2dcf1;  
  font-family: 'Quicksand', cursive;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);  
}

 
.form-group .icon {
 
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}


button {
  background-color: #94c2e7; 
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0 5px #775936;  
  transition: all 0.3s ease;  
  cursor: pointer;  
  box-shadow: none;
}

button:active {
  transform: translateY(3px);
}


button, input[type="text"], textarea {
  transition: all 0.3s ease;
}

button:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);

}


.drawing1 .form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}


.drawing1 .form-group {
  margin-bottom: 1px;
}

.left-section,
.right-section {
  flex: 1;
}

.form-group {
  margin-bottom: 10px;
}

.image img {
  width: 100px;
  height: auto;
}

.drawing2 {
  display: flex;
}

.back-button {
  background-color: #007bff; 
  color: white; 
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-button:hover {
  background-color: #0056b3;
}

.left-side, .right-side {
  flex: 1;
}

.right-side {
  padding-left: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: calc(85vh - 150px);
}

.drawing2 textarea {
  height: calc(88vh - 150px); 
  resize: none;
  background-color: #eaedf0;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 1000px;
  max-height: 1000px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 250px;
  max-height: 150px;
}

.thumbnails {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  justify-content: center; 
  align-items: center; 
  max-width: 79%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  max-width: 200px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 150px;
  max-height: 150px;
}


.new-button { 
  background-color: #967249; 
  color: white;
  padding: 12px 25px; 
  border: none;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0 5px #775936;
  transition: all 0.3s ease;
}

.new-button:hover {
  background-color: #b38b61;
}

.new-button:active {
  box-shadow: 0 2px #775936; 
  transform: translateY(3px);  
}

.thumbnail:nth-child(1) {
  width: 150px;
  height: 150px;
}

.thumbnail:nth-child(2) {
  width: 150px;
  height: 150px;
}

.thumbnail:nth-child(3) {
  width: 150px;
  height: 150px;
}

.music-details {
  background-color: #e6f0fa; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px; 
  font-family: 'Quicksand', sans-serif; 
}


.audio-control-button {
  background-color: #4a90e2;
  color: white; 
  border: none;
  border-radius: 4px; 
  padding: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}


.audio-control-button:hover {
  background-color: #5691e0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.audio-control-button.playing {
  background-color: #d9534f;
}


audio {
  width: 100%;
  outline: none;
}


.fa-play, .fa-stop {
  color: inherit;
}

.music-details .song-info {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.music-details img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

audio {
  width: 100%;
}

.music-details audio {
  width: 250px;
  margin-left: -20px;
  border: none;
  outline: none;
  background-color: transparent;
  height: 40px;
}

.album-art img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.profile-picture{
  position: relative;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  left: 1;
  top: 70px;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 4px;
}

.profile-dropdown p {
  color: #333;
  padding: 8px 16px;
  display: block;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: normal;
}

.profile-dropdown p:hover {
  background-color: #f5f5f5;
}


.profile-dropdown p:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.action-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  bottom: 10px;
  right: 10px;
}

.like-button, .invite-collaborators {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.like-icon {
  margin-right: 5px;
  color: #000;
  cursor: pointer;
}

.like-icon.liked {
  color: #007bff;
}

.view-more-button {
  background-color: #007bff; 
  color: white; 
  padding: 10px 20px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-button:hover {
  background-color: #0056b3;
}

.delete-button {
 
  border: none;
  padding: 10px 20px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 10px;
  font-weight: bold;
}

.delete-button:hover {
  background-color: #d60606;
}



.drawing1 .form-group .pin-name-label:first-of-type {
  display: none;
}


.song-info {
  font-family: 'Quicksand', sans-serif;
  flex-grow: 1;

}

.song-title, .song-author {
  font-family: 'Quicksand', sans-serif;
  color: #2a3f5f;
  margin: 0; 
}


.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.thumbnails p {
  font-size: 16px;
  color: #888;
  margin-top: 453px;
  white-space: nowrap;
}

.image-container p {
  font-size: 16px;
  color: #888;
  margin-top: 255px;
  white-space: nowrap;
}

.thumbnail {
  flex: 0 1 auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
}


.music-details {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  width: 100%;
}

.album-art {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


.bottom-section {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}


.view-more-button, .edit-button {
  width: 100%; 
  margin-bottom: 10px; 
  text-align: center; 
}


.ProfilePicture-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.ProfilePicture-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  z-index: 1051;
}



.weather-header {
  font-size: 1.5em;
  color: #203a4c;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 4px solid #203a4c;
  border-bottom: 4px solid #203a4c; 
}

.weather-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #faf3f3; 
  color: #203a4c;   
  border-radius: 8px;
  padding: 10px 20px;
  margin: 20px 1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0 4px 8px rgba(0.15, 0.15, 0.15, 0.15);

}

.weather-info {
  display: flex;
  align-items: center;
}

.weather-info img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.media-container {
  width: 460px;
  top: 100%;
  z-index: 5;
  max-height: 160px;
  overflow-y: auto;
  margin-top: 10px;
  border-radius: 8px; 
  overflow-x: hidden;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 10px;
  border-color: #cccccc;
  border-style: dashed;
  background-color: #f8f8f8;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
  cursor: pointer;
}

.dropzone:focus {
  border-color: #2196f3;
}


aside {
  margin-top: 10px;
}

aside h4 {
  margin-bottom: 8px;
}

aside ul {
  list-style: none;
  padding-left: 0;
}

aside li {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 24px;
}

button.remove-file-btn {
  background-color: #94c2e7; 
  color: white; 
  padding: 12px 25px; 
  border: none; 
  border-radius: 5px; 
  font-family: 'Quicksand', sans-serif; 
  transition: all 0.3s ease; 
  cursor: pointer; 
}

button.remove-file-btn:hover {
  background-color: #f01440;
}

.weather-details {
  display: flex;
  flex-direction: column;
}

.weather-city {
  font-size: 1.2em;
  color: #203a4c;
}

.weather-temperature,
.weather-condition {
  margin: 0;
  padding-right: 15px;
  border-right: 1px solid #ddd;
}

.weather-widget p:last-child {
  border-right: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

.modal-content {
  background: linear-gradient(135deg, #ffffff, #f2f6fa);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.account-title {
  font-family: 'Quicksand', sans-serif;;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
  border-left: 4px solid #555;
  text-align: left;
  padding-left: 10px;
}

.change-password-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  border-left: 4px solid #555;
  text-align: left;
  padding-left: 10px;
}

.modal-content button.delete-account-button {
  margin-top: 30px;
  background-color: red;
  color: white;
  transition: background-color 0.3s ease;
}

.modal-content button.delete-account-button:hover {
  background-color: darkred;
}

.modal-content h2 {
  font-family: 'Quicksand', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #666;
}

.modal-content button {
  background-color: #94c2e7;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 'box-shadow 0.3s ease',
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 0px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-picture-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pictures-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.current-profile-picture,
.new-profile-picture {
  margin-right: 20px;
  text-align: center;
}

.current-profile-picture img,
.new-profile-picture img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background: #fff;
}

.new-profile-picture {
  margin-right: 0;
}

.feedback-message.success {
  color: green;
  margin-top: 10px;
}

.feedback-message.error {
  color: red;
  margin-top: 10px;
}

.form-create {
  height: 750px;
  width: 500px;
  overflow-y: auto;
  padding: 20px;
}

.form {
  height: 580px;
  width: 500px;
  overflow-y: auto;
}

.music-search-container {
  width: 445px;
  top: 100%;
  z-index: 5;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #94c2e7;  
  overflow-x: hidden;
}

.music-results-container {
  position: relative;
  width: 460px;
 }

.track-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #7aabd3;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}


.track-container:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background-color: #94c2e7;

}


.track-album-art {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
}


.music-search-container::-webkit-scrollbar {
  width: 10px;
}

.music-search-container::-webkit-scrollbar-track {
  background: #94c2e7;
  border-radius: 10px;
}

.music-search-container::-webkit-scrollbar-thumb {
  background: #70aee0;
  border-radius: 10px;
}

.track-info {
  flex-grow: 1;
}

.track-name,
.track-artists {
  color: white;
}

.play-button {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.user-profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}



.drawing1 .slideshow-container {
  position: relative;
  width: 400px;
  height: 325px;
  margin: 75px auto;
  margin-left: 20px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 3px solid #70aee0;
}


.drawing1 .slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.drawing1 .slideshow-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawing1 .slideshow-controls .fa-chevron-left,
.drawing1 .slideshow-controls .fa-chevron-right {
  color: white;
  background-color: rgba(74, 144, 226, 0.8);
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.drawing1 .slideshow-controls .fa-chevron-left:hover,
.drawing1 .slideshow-controls .fa-chevron-right:hover {
  background-color: rgba(74, 144, 226, 1);
}

.drawing1 .slideshow-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.drawing1 .slideshow-dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.drawing1 .slideshow-dots .dot.active {
  background-color: #4a90e2;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.drawing1 .slideshow-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#username {
  border-radius: 20px; 
  background-color: white;
}

.media-thumbnails {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.media-thumbnail-item {
  width: calc(33.333% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-thumbnail-item img {
  width: 100%;
  height: 100;
  border-radius: 5px;
}

.max-images-message {
  color: #D8000C;
  background-color: #FFD2D2;
  padding: 7px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #D8000C;
}